name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Tidy modules
      run: go mod tidy

    - name: Check gofmt
      run: |
        gofmt_diff=$(gofmt -l .)
        if [ -n "$gofmt_diff" ]; then
          echo "gofmt found unformatted files:"
          echo "$gofmt_diff"
          exit 1
        fi

    - name: Go vet
      run: go vet ./...

    - name: Build
      run: go build ./cmd/brewls

    - name: Test
      run: go test ./...
